<table>
    <thead>
        <tr>
            <th>Fase</th>
            <th>Jugador 1</th>
            <th>Jugador 2</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($partidos as $partido): ?>
            <tr>
                <td><?php echo $partido['Partido']['fase'] ?></td>
                <td><?php echo $partido['Partido']['jugador1']['_id'] ?></td>
                <td><?php echo $partido['Partido']['jugador2']['_id'] ?></td>
                <!--<td>
                    <?php echo $this->Html->link('Detalle', array('action' => 'detalle', $jugador['Jugador']['_id'])) ?> &nbsp;
                    <?php echo $this->Html->link('Editar', array('action' => 'editar', $jugador['Jugador']['_id'])) ?>
                    <?php
                echo $this->Form->postLink(
                        'Eliminar', array('action' => 'Eliminar', $jugador['Jugador']['_id']), array('confirm' => 'Realmente está seguro?'))
                    ?>
                </td>-->
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
